div{
  text-align: center;
  padding-top: 35px;
}
html,body{
  height: 100%;
}

input{
  height: 35px;
  width: 300px;
  font-size: medium;
  text-align: center;
  align-items: center;
  justify-content: center;
}

button{
  height: 35px;
  width: 300px;
  font-size: medium;
  align-items: center;
  justify-content: center;
}

.one{
  border: 5px salmon blue;
  padding: 1px;
  width: 300px;
  height: 35px;
  background-color: burlywood;
  background-image: -moz-radial-gradient();
  border-radius: 50;
  align-items: center;
  justify-content: center;
}

.board{
  width: calc(100vh - 240px);
  max-width: calc(100vw - 40px);
  display:grid;
  grid-gap:10px;
  margin: auto;
  grid-template-columns: repeat(6, 1fr);
  
}
.card-outer{
  perspective:1000px;
  height: calc((100vh - 290px) / 6);
  max-height: calc((100vw - 90px) / 6);
}
.card{
  border-radius: 5px;
  position: relative;
  width: 300%;
  height: 200%;
  transform:rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.3s;
  }
.card .front, .card .back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card .back{
  background-color: grey;
  transform:rotateY(180deg);
}
.card-outer.flipped .card{
  transform:rotateY(0);
}
 
